[submodule "turing"]
	path = turing
	url = https://github.com/Sword-Fire/Turing.git

[submodule "turing-core"]
	path = turing-core
	url = https://github.com/Sword-Fire/TuringCore.git

[submodule "athena"]
	path = athena
	url = https://github.com/Sword-Fire/Athena.git